#instafeed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

  #instafeed a {
    border-bottom: none;
    padding: none;
    height: 150px;
  }

.instagram-pic {
  display: flex;
  align-items: flex-start;
}

.logo.google {
  width: 100px;
  height: 30px;
  background-image: "/images/logos/facebook.png";
}

  .logo.google:hover {
    background: #df93b8;
  }

.wrapper.style2 {
  color: #4a4c4d;
}

  .wrapper.style2 a {
    color: #4a4c4d;
  }

  .wrapper.style2 img {
    width: 100%;
  }

.background p {
  text-align: left;
}

@media screen and (max-width: 1680px) {
  .instagram-pic:nth-last-child(-n+4) {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .instagram-pic:nth-last-child(-n+6) {
    display: none;
  }
}

@media screen and (max-width: 896px) {
  .instagram-pic:nth-last-child(-n+8) {
    display: none;
  }
}

@media screen and (max-width: 667px) {
  .instagram-pic:nth-last-child(-n+10) {
    display: none;
  }
}

@media screen and (max-width: 516px) {
  .instagram-pic:nth-last-child(-n+12) {
    display: none;
  }
}


