/*.instagram-feed {
  display: flex;
  flex-direction: column;
}*/

.instagram-tag {
  display:flex;
  justify-content: center;
}

#instafeed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
